<div class="container">
	<h2>List of photographers you searched for:</h2>
	<ul class="result_main">
		<% @photographers.each do |photographer| %>
			<li>
				<img src="/photographers/<%= photographer.id %>">
				<a href="/photographers/<%= photographer.id %>"><%= photographer.name %></a>
			</li>				
			
		<% end %>
	</ul>
</div>






