* {
	box-sizing: border-box;
}

/*layout page*/
body {
	background-color: rgb(24, 26, 34);
	    background-image: url("https://www.apertureacademy.com/img/guests/art-wolfe-gp1015.jpg")
	    background-repeat: repeat;
}

a {
	text-decoration: none;

}
header {
	display: flex;
	flex-direction: row;
	background-color: rgb(44, 46, 51);
	/*background-color: white;*/
	padding: 0;
	color: white;
	justify-content: space-between;
	height: 120px;
	width: 100%;
}
.menu {
	float: left;
	display: flex;
	flex-direction: column;
	height: 120px;
}
h1 {

	font-family: 'Lobster', cursive;
	font-size: 30px;
}
.nav {
	display: inline;
	flex-direction: row;
    font-family: 'Lobster', cursive;
    font-size: 10px;
    color: white;
    flex-direction: row;
}
.nav a:visited {
	color: white;
	font-size: 14px;
	flex-direction: row;

}
.search {
	display: flex;
	font-family: 'Lobster', cursive;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;
    height: 120px;
}
.search_box {
	height: 35px;
    width: 210px;
    margin: 0 0;
    font-size: 11px;
    padding: 4px 1px 4px 1px;

}
.search_btn {
	/*add style*/
	font-size: 20px;
	width: 90px;
	background-color: lightblue;
	padding: 3px 1px 7px 1px;
}
.logout {
	height: 120px;
	display: flex;
	float: right;
	font-size: 18px;
	align-items: flex-end;
	/*justify-content: flex-end;*/
}
.loggedin_msg {
	flex-direction: row;
}
.logout_btn {
flex-direction: row;
	font-size: 15px;
	width: 60px;
	background-color: lightblue;
	padding: 1px;
}
main {
}
footer {
	display: ruby-base-container;
	justify-content:space-between;
 	text-transform: uppercase;
 	padding: 0 5px;
 	background-color: lightgray;
 	color: darkgray;
 	font-size: 12px;
 	letter-spacing: .05em;
 	font-weight: 100;
 	align-items: flex-end;
 	margin-bottom: 10px;
}
.copyright {
 	float: left;
 	font-family: "Raleway", sans-serif;
}
.message {
 	float: right;
 	font-family: "Raleway", sans-serif;
}
.clearfix:after {
 	visibility: hidden;
 	display: block;
 	content: " ";
 	clear: both;
 	height: 0;
 	font-size: 0;
 }
.postnew_link {
	display: flex;
	float: right;
}
.login {
	display: flex;
	flex-direction: column;
	height: 180px;
	width: 50%;
	float: right;
	justify-content: space-between;
}
h2, h3 {
font-size: 30px;
color: white;
}
img {
    height:200px
    width:auto;/*maintain aspect ratio*/
    max-width:700px;
}



 /*index page*/
 .container {
	background-color: #ffc0cb;
	display: flex;
	height: 640px;
	width: 1200px;
	padding-top: 20px;
	/*padding-bottom: 5px;*/
	font-size: 15px;
	/*padding-left: 30px;
	
	padding-right: 30px;*/
	color: white;
	margin-right: 60px;
	margin-left: 90px;
	margin-bottom: 5px;
}

.login {
	padding: 30px 30px 30px 30;
	
}
.signup_page_main {

}
/*edit page*/
.edit_main {

}
.result_main {

}
.signup_main{

}
.new_main {
	height: 640px;
	width: 1200px;
	font-size: 17px;
	color: white;
}
.new_main input {
.show_main {
	font-size: 17px;
	color: white;
}
.show_details {

}
.createdby_only_show {

}
.createdby_only_show a:visited {
	color: white;
	font-size: 14px;
}
.login_only_show {

}
.login_only_show a:visited {
	color: white;
	font-size: 14px; 
}
.comments {
display: block;
}
.comment_main {
display: inline-block;
float:;
}
.comment_body {
display: inline-block;

}
.com_created {
display: inline-block;
float: right;
}
.index_main {

}
.login_btn {

}
.index_list {

}
.recent_list a:visited {
	color: white;
}
.top4 {
	
}
ul {
 list-style-type: none;
 }

